@model HSBM.EntityModel.ForgotPassword.ForgotPasswordModel

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="awe-parallax login-page-demo" id="loginForm">
    <div class="awe-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="login-register-page__content">
                    @using (Html.BeginForm("ForgotPassword", "Customer", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        <div class="row">
                            <div class="title-block">
                                <h3>Forgot Password</h3>
                           </div>
                        </div>
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <h5>@ViewBag.Message</h5>
                        @Html.HiddenFor(model => model.Id)

                        <div class="row">
                            <div class="form-item col-md-4">
                                @Html.LabelFor(model => model.Email, new { @class = " " })

                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                        </div>
                        <div class="buttongroup">
                            <input type="submit" value="Send" class="btn btn-primary btn-lg" />
                            @Html.ActionLink("Cancel", "Login", null, new { @class = "btn btn-primary btn-lg grey-btn" })
                        </div>
                    }
                    @*<div class="login-register-link">
                                    Don't have account yet? <a href="@Url.Action("CustomerRegister", "Customer")">Register HERE</a>
                        </div>*@
                </div>
            </div>
        </div>
    </div>

</section>
@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@